@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Darker+Grotesque:wght@300&family=Lobster&display=swap");

.resume {
  background-color: blanchedalmond;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 23px;
}
.resume-top {
  text-align: center;
}
.name {
  font-size: 45px;
  font-family: "Lobster", cursive;
}
.title {
  font-size: 30px;
}
.local {
  font-size: 25px;
}
.links {
  font-size: 25px;
}
.resume-bottom {
  margin: 0 10rem 10rem 10rem;
}
